body {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.45;
    margin: 0.5rem 0;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: #333333;
}

h1 {
    color: #34495e;
    margin: 10px 0;
    line-height: 40px;
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    border-bottom: 2px solid  #dddddd;
    line-height: normal;
    font-size: 1.5rem;
    margin: 10px 0;
    color: #34495e;
    padding: 0;
    white-space: inherit;
    box-sizing: border-box;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

h3 {
    border-bottom: 1px solid  #dddddd;
    font-size: 1.2rem;
    margin: 10px 0;
    color: #34495e;
    padding: 0;
    white-space: inherit;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

h4 {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #34495e;
    padding-top: 10px;
    padding-bottom: 0;
    white-space: inherit;
    box-sizing: border-box;
    font-weight: bold;
}

pre {
    font-family: Consolas, "Andale Mono", Monaco, monospace;
    line-height: normal;
    white-space: pre-wrap;
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 0;
    padding: 6px;
    font-size: 90%;
}

code {
    font-family: Consolas, "Andale Mono", Monaco, monospace;
    font-size: 90%;
    white-space: pre-wrap;
    background-color: #f8f8f8;
    line-height: normal;
}

div.definitions p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

div.definitions {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left: 1cm;
}


div.formulas {
    background-color: #ffffee;
    border: 1px solid #dddddd;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    border-radius: 0;
    padding: 0px;
}

table.tfl {
    border: 0;
    border-collapse: collapse;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-block-start: 0.0em;
    margin-block-end: 0.5em;
}

tr.nfl td {
    padding-top: 0.5em;
    margin-block-start: 1.0em;
    margin-block-end: 1.0em;
}

tr.cfl td {
    padding-top: 0;
}

pre.mapping {
    line-height: normal;
    white-space: pre-wrap;
    background-color: #ffffcc;
    /*border: 1px solid #dddddd;*/
    border: none;
    border-radius: 0;
    font-size: 90%;
    font-family: Helvetica, Arial, sans-serif;
}


span.numberCircle {
    font: 13px Arial, sans-serif;

    /*width: 1em;*/
    /*height: 1em;*/
    padding: 0;
    margin: 0;
    box-sizing: initial;

    background: #aaaaaa;
    border: 1pt solid #aaaaaa;
    color: white;
    text-align: center;
    /*border-radius: 50%;*/

    /*line-height: 2em;*/
}